<%- include('./partials/header')%> 
<%-include('./partials/navbar')%>
<%-include('./partials/flash')%>
    
    <div class="alert alert-danger" role="alert">
        <%= err %> 
    </div>
    <%- include('./partials/footer')%> 