<%- include('../partials/header')%> 
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>
    
    <section class="row">

        <div class="col-6 border mt-3">
            <!-- displaying flash msg
            <div class="mb--3">
              <%  if(msg && msg.length){ %> 
                    <%=msg%>
                <% } %> 
            </div> -->

            <h1><%=item.name%></h1>
            <img src="<%=item.img%>" />
            <h2><%=item.price%></h2>
            <h4><%=item.instock%></h4>
            <p><%=item.desc%></p>
            <% if(currentUser && currentUser.role === 'seller'){ %> 
            <a href="/products/<%=item._id%>/edit"><button class="btn btn-primary">Edit</button></a>
            <%}  %>
            <% if(currentUser && currentUser.role === 'buyer'){ %>
            <form action="/user/<%=item._id%>/add" method="post" class="d-inline-block">
                <button class="btn btn-sm btn-secondary" type="submit">Add to Cart</button> 
            </form>
            <a href="#" class="btn btn-sm btn-secondary">Buy Product</a>
            <%}  %>
        </div>
        <% if(currentUser && currentUser.role === 'buyer'){ %>
        <div class="col-6 border">
            <form action="/products/<%=item._id%>/review" method="POST">
                <div>
                    <label for="rating">Rating: </label>
                    <fieldset class="starability-basic">
                        <legend>First rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    <!-- <input type="range" name="rating" id="rating" min="0" max="5"> -->
                </div>
                <div>
                    <label for="bola">Comment: </label>
                    <textarea name="comment" id="bola" rows="3"></textarea>
                </div>
                
                <button>Add Review</button>
            </form>
            <article>
                <% for(let itemOne of item.reviews){ %> 
                    <p class="starability-result" data-rating="<%=itemOne.rating %>">
                        Rated: <%=itemOne.rating %> stars
                      </p>
                      <% if(itemOne.createdAt){  %>
                            <p>Date: <%=itemOne.createdAt.toDateString() %> </p>
                      <% } %> 
                    <p>Comment: <%=itemOne.comment %></p>
                <% } %> 
            </article>
        </div>
        <%}  %>
    </section>

<%- include('../partials/footer')%> 